<#@ template Namespace="Michaelis.QuickTemplates.CsTemplates" Visibility="internal" Inherits="CsBaseTemplate" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="Michaelis.QuickTemplates.Meta" #>
<#@ parameter name="propertyNode" type="SimplePropertyNode" availability="method" #>
<#= propertyNode.Modifier #><#= GetIf(" ", propertyNode.Modifier) #><#= propertyNode.PropertyType #> <#= propertyNode.Propertyname #> { <#= propertyNode.GetAccessor #><#= GetIf(" ", propertyNode.GetAccessor, propertyNode.SetAccessor) #><#= propertyNode.SetAccessor #> }<#= !string.IsNullOrEmpty(propertyNode.Initializer) ? "" : " " + propertyNode.Initializer + ";" #>
